# API Keys
RAPIDAPI_KEY=your_rapidapi_key_here
GEMINI_API_KEY=your_gemini_api_key_here

# Google Sheets Config
GOOGLE_SHEET_ID=your_google_sheet_id_here

# Google Cloud
# PREFERRED: Use Application Default Credentials via terminal: 
# `gcloud auth application-default login`
# SECONDARY: Uncomment below and use a service account key file if ADC is not available
# GOOGLE_APPLICATION_CREDENTIALS=gcp-key.json

# Docker Python Dependencies (Crucial for Airflow to run our AI tasks)
_PIP_ADDITIONAL_REQUIREMENTS=pytest PyPDF2 google-generativeai gspread google-auth

# Airflow Docker Core Config
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Airflow Secrets
# You can generate new keys in python: `from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())`
FERNET_KEY=your_fernet_key_here
SECRET_KEY=your_secret_key_here

# Airflow Database
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
